.main {
  width: 100%;
  min-height: 100%;
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  align-items: center;
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .title {
      margin-top: 88px;
      font-size: 16px;
      line-height: 19.2px;
      letter-spacing: 2.7px;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      color: var(--light);
      span {
        opacity: 0.25;
        margin-right: 18px;
      }
    }
    .pic {
      width: 170px;
      height: 170px;
      margin-top: 32px;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    .object {
      font-family: "Bellefair", serif;
      font-size: 56px;
      line-height: 64.18px;
      color: var(--light);
      margin-top: 20px;
      text-transform: uppercase;
    }
    .description {
      text-align: center;
      font-size: 15px;
      line-height: 25px;
      color: var(--middle);
      font-family: "Barlow", sans-serif;
      margin-top: 1px;
    }
    .line {
      width: 100%;
      height: 1px;
      border: none;
      border-top: 1px solid#383b4b;
      margin-top: 32px;
    }
    .stats {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      margin-bottom: 58px;
      .stats-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
        .stats-text {
          font-size: 14px;
          line-height: 16.8px;
          letter-spacing: 2.36px;
          font-family: "Barlow Condensed", sans-serif;
          text-transform: uppercase;
          color: var(--middle);
        }
        .amount {
          font-family: "Bellefair", serif;
          font-size: 28px;
          line-height: 32.09px;
          text-transform: uppercase;
          color: var(--light);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main {
    padding: 0 40px;
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
    .top {
      .title {
        margin-top: 136px;
        align-self: flex-start;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.38px;
      }
      .pic {
        width: 300px;
        height: 300px;
        margin-top: 60px;
      }
    }
    .bottom {
      .object {
        font-size: 80px;
        line-height: 91.68px;
        margin-top: 32px;
      }
      .description {
        font-size: 16px;
        line-height: 28px;
        margin-top: 8px;
        width: 573px;
      }
      .line {
        margin-top: 49px;
      }
      .stats {
        margin-top: 28px;
        flex-direction: row;
        column-gap: 150px;
      }
    }
  }
}

@media (min-width: 768px) {
  .main {
    padding: 0 163px;
    padding-top: 212px;
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 157px;
    .top {
      width: fit-content;
      .title {
        margin-top: 0;
        font-size: 28px;
        line-height: 33.6px;
        letter-spacing: 4.72px;
      }
      .pic {
        width: 445px;
        height: 445px;
        margin-top: 97px;
        margin-left: 63.5px;
      }
    }
    .bottom {
      align-items: flex-start;
      width: 445px;
      .object {
        font-size: 100px;
        line-height: 114.6px;
        margin-top: 37px;
      }
      .description {
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        margin-top: 14px;
        text-align: left;
      }
      .line {
        margin-top: 54px;
      }
      .stats {
        column-gap: 79px;
        .stats-box {
          align-items: flex-start;
        }
      }
    }
  }
}
