@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Bellefair', serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --dark: #0B0D17;
  --light: #FFFFFF;
  --middle: #D0D6F9;
}

html {
  height: 100%;
  body{
    height: 100%;
    font-weight: 400;
  }
}